extends ../base/layout

block header
  include ../blocks/header-consult
block main
  main.grid
    include ../blocks/top-mining
    include ../blocks/min-options
    include ../blocks/shop
    include ../blocks/mining-faq
    include ../blocks/work-mining
    // include ../blocks/consult-bottom
  include ../blocks/footer
  include ../blocks/modals

block scripts
  include ../base/scripts