section.benefits
  h2 ПРЕИМУЩЕСТВА РАБОТЫ С&nbsp;ROCKET&nbsp;to&nbsp;CNINA
  .benefits__container
    .benefits__item
      h3 КОМПЛЕКСНЫЙ И
        br
        | ИНДИВИДУАЛЬНЫЙ ПОДХОД
      p Мы подготовили для вас широкий спектр разных услуг не только в логистики,но и в других популярных направлениях, таких как производство, выкуп, контроль,сопровождение на фабрики в Китае и мн. др. Таким образом, чем больше услуг вы нам делегируете на обслуживание, тем больше время можете уделить своему бизнесу, вашей ключевой компетенции.
    .benefits__item
      h3 СКЛАДСКИЕ КОМПЛЕКСЫ В ПЕКИНЕ,
        br
        | ГУАНЧЖОУ и в Москве.
      p Помимо многочисленных складов наших надежных партнеров в Китае и СНГ,мы так-же имеем и свои складские комплексы в главных мегаполисах Китая и РФ.Это позволяет нам самим, без посредников консолидировать ваши грузы, проверять заказы по инвойсу, а так же осуществлять контроль качества товара перед отгрузкой.
    .benefits__item
      h3 ЮРИДИЧЕСКАЯ ПРОЗРАЧНОСТЬ И
        br
        | БЕЗОПАСНОСТЬ
      p Помимо логистической организации мы имеем собственную торговую компанию в Китае, что позволяет нам находится в едином правовом поле с поставщиками и фабриками и заключать договора в соответствии с местными и международными нормами права, что позволяет сводить риски практически к нулю.
    .benefits__item
      h3 ДЕКЛАРИРОВАНИЕ И ПРОЧИЙ
        br
        | ДОКУМЕНТООБОРОТ - НАША ЗАБОТА!
      p Мы проделали колоссальную работу, чтобы доставка из Китая стала доступна каждому. Достичь этого удалось за счет минимизации посредников, так как именно этот фактор больше всего влияет на конечную цену. Более 330 ТНВЭД кодов и готовых сертификатов уже оформлено и оптимизировано нами.
    .benefits__item
      h3 СРОКИ ДОСТАВКИ ПОД ВАШИ
        br
        | ПОТРЕБНОСТИ
      p Мы прекрасно понимаем на сколько важны сроки и бюджет доставки для вашего бизнеса, поэтому всегда подбираем наиболее оптимальный вариант доставки конкретно в вашем случае.
  .button.btn.btn--yellow Проконсультироваться
  .trust-left
  .trust-right
  .trust-left.trust-left-2
  .trust-right.trust-right-2