section.cargo
  .cargo-y
  h2 CARGO - ДОСТАВКА с "ROCKET-to-CHINA»
  h3 Самый простой и надежный способ доставки и растаможки вашего груза под ключ
  section.cargo__container
    article.cargo__item
      .btn--best
        | Bestseller
      h3.cargo__title АВИА EXPRESS
      h4.cargo__subtitle 8-12 дней до Москвы
      .cargo__separator
      p Пожалуй самый популярный, быстрый и надежный способ доставки. Наиболее оптимален, когда ваши грузы не больших объемов (до 500 кг.), а так же в случае, если ваш товар достаточно хрупкий и дорогой, например электроника.
      a.cargo__more Подробнее
      p
        b ВАЖНО:&nbsp;
        | Конечная стоимость доставки сильно зависит от показателей. Вес/объем и плотность вашего груза.
      br
      p.tac
        b от ~ 3.5$/кг
        br
        b (от 30 кг.)
      .button.btn.btn--yellow Рассчитать точнее
    article.cargo__item
      h3.cargo__title Ж/Д ДОСТАВКА
      h4.cargo__subtitle ~  25 дней
      .cargo__separator
      p Наиболее распространенный способ доставки у крупныхкомпаний, когда отправляются большие объемы грузов и когдаточные сроки доставки имеют принципиально важное значение. Чаще всего наши клиенты используют ...
      a.cargo__more Подробнее
      p
        b ВАЖНО:&nbsp;
        | Конечная стоимость доставки сильно зависит от показателей. Вес/объем и плотность вашего груза.
      br
      p.tac
        b от 1.5$ $/кг
        br
        b (от 100 кг.)
      .button.btn.btn--yellow Рассчитать точнее
    article.cargo__item
      h3.cargo__title МОРЕ
      h4.cargo__subtitle 35-50 дней
      .cargo__separator
      p Пожалуй самый экономный, но наиболее медленный способ доставки вашего груза. Чаще используется крупными ритейлерами, когда график поставок расписан на год вперед и с фабриками заключены долгосрочные контракты ...
      a.cargo__more Подробнее
      p
        b ВАЖНО:&nbsp;
        | Конечная стоимость доставки сильно зависит от показателей. Вес/объем и плотность вашего груза.
      br
      p.tac
        b от 1.5$ $/кг
        br
        b (от 100 кг.)
      .button.btn.btn--yellow Проконсультироваться
    .cargo-left
    .cargo-right