section.logistic.consult
  .logistic__container
    section.solution-section

      article.solution
        .solution__heading
          | Личный менеджер
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/consult/s-1.png", alt="")
        .solution__descr
          .solution__descr__dot
          p Моментальная обратная связь по любым вопросам

      article.solution
        .solution__heading
          | Найдется всё
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/consult/s-2.png", alt="")
        .solution__descr
          .solution__descr__dot
          p Моментальная обратная связь по любым вопросам

      article.solution
        .solution__heading
          | Физ. и Юр. лица
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/consult/s-3.png", alt="")
        .solution__descr
          .solution__descr__dot
          p Моментальная обратная связь по любым вопросам

      article.solution
        .solution__heading
          | Нал./Безнал. расчёт
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/consult/s-4.png", alt="")
        .solution__descr
          .solution__descr__dot
          p Моментальная обратная связь по любым вопросам

    .button.btn.btn--yellow Получить бесплатный расчет