section.faq.consult-faq
  .faq__right
  h2 ЧЕМ МЫ ЕЩЕ МОЖЕМ БЫТЬ ПОЛЕЗНЫ ДЛЯ 
    br
    | ВАС В КИТАЕ?
    span Топ самых популярных вопросов по консалтингу к ROCKET to CHINA
  .faq__container
    .faq--col-1
      img.faq__woman(src="./dist/img/content/consult/man.png", alt="")
      img.faq__shadow(src="./dist/img/content/woman-shadow.png", alt="")

    .faq--col-2
      .accordeon
        .ac
          .ac_head Все конечно прекрасно, а сколько же стоят ваши услуги поиска и подбора? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Вы помогаете в изготовлении сувенирной продукции в Китае? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head А если я не компания, а просто физическое лицо, я могу работать с вами?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Если я хочу сам посетить Китай, вы можете помочь в этом?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Если я хочу отправить просто маленькую посылку для себя, вы можете помочь?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;

  .button.btn.btn--yellow Другой вопрос