section.map.consult-bottom
  img.map-logo(src="./dist/img/content/consult/f-logo.png", alt="logo")
  h2 ROCKET to CHINA - НАЙДЕТСЯ ВСЁ!
  section.number
    article.number__item
      .number__title ~
        span.jsCounter 12518
      p Заказов было выполнено нами
        br
        | за все время работы.
    article.number__item
      .number__title.jsCounter 8355
      p тонн груза было отправлено
        br
        | в прошлом году
    article.number__item
      .number__title
        span.jsCounter 91
        | %
      p Клиентов совершают с нами 2-ю
        br
        | и последующие отправки
    article.number__item
      .number__title.jsCounter 29
      p человек нашей команды
        br
        | ежедневно трудятся для
        br
        | Вас в Китае и России.