section.faq
  .faq__right
  h2 ВЫ МОЖЕТЕ БЫСТРО ПОЛУЧИТЬ ОТВЕТ НА ЛЮБОЙ 
    br
    | ВОПРОС У НАШИХ МЕНЕДЖЕРОВ, ОДНАКО НА САМЫЕ 
    br
    | ПОПУЛЯРНЫЕ МЫ ОТВЕТИЛИ ЗДЕСЬ:
  .faq__container
    .faq--col-1
      img.faq__woman(src="./dist/img/content/woman.png", alt="")
      img.faq__shadow(src="./dist/img/content/woman-shadow.png", alt="")

    .faq--col-2
      .accordeon
        .ac
          .ac_head Вы оказываете только услуги доставки или можете помочью и с другими вопросами?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Как мне выбрать наилучший способ доставки для моего груза?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Какие мне нужны документы, что бы отправить свой груз?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Как я получу свой груз, если я не из Москвы?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Какие гарантии? Я могу оплатить доставку при получении?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Как быть с таможней, вы помогаете с этим?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
        .ac
          .ac_head Как я узнаю, что мой груз прибыл?
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem

section.use
  h2 ЧЕМ МЫ ЕЩЕ МОЖЕМ БЫТЬ ПОЛЕЗНЫ 
    br
    | ДЛЯ ВАС В КИТАЕ?
  section.use__container
    article.use__item
      img.use__pic(src="./dist/img/content/u1.jpg", alt="")
      h3.use__title НАШИ СКЛАДЫ В КИТАЕ
      ul.use__content
        li.use__li Консолидация вашего груза
        li.use__li Хранение
        li.use__li Проверка качества и упаковка
    article.use__item
      img.use__pic(src="./dist/img/content/u2.jpg", alt="")
      h3.use__title НАШИ СКЛАДЫ В КИТАЕ
      ul.use__content
        li.use__li Поиск надежных поставщиков готовых товаров
        li.use__li Организация производства товаров по вашему ТЗ
        li.use__li Контроль и проверка качества производства
    article.use__item
      img.use__pic(src="./dist/img/content/u3.jpg", alt="")
      h3.use__title НАШИ СКЛАДЫ В КИТАЕ
      ul.use__content
        li.use__li Организация безопасных и быстрых расчетов
        li.use__li Без сложностей с конвертацией
        li.use__li Возможность оплаты в юанях
        li.use__li Низкие комиссии
    article.use__item
      img.use__pic(src="./dist/img/content/u4.jpg", alt="")
      h3.use__title НАШИ СКЛАДЫ В КИТАЕ
      ul.use__content
        li.use__li Сопровождение на фабрику/рынки/выставки
        li.use__li Личный гид-помощник/переводчик в Китае
        li.use__li Бесплатная встреча в аэропорту и ресторан
        li.use__li Подберем для вас хорошие апартаменты
  .button.btn.btn--yellow Проконсультироваться сейчас