section.features
  h2 ПОЧЕМУ ПРОИЗВОДСТВО ПРАКТИЧЕСКИ ЛЮБОГО ТОВАРА 
    br
    | В КИТАЕ СЕГОДНЯ СТАЛО ПРОЩЕ КАК НИКОГДА?

  img.features__right(src="./dist/img/content/map-shadow.png")
  img.features__left(src="./dist/img/content/map-shadow.png")
  .features__wrapper
    article.features-item
      h3.features-item__heading СКОРОСТЬ ДОСТАВКИ И КОММУНИКАЦИИ
      p
        b Доставка из Китая сегодня стала действительно быстрой, 
        | удобной и доступной за счет огромной конкуренции и упрощении законодательной базы между РФ и Китаем. Сегодня стало вполне реальноразместить заказ на фабрику и отправить готовую партию или образецв Москву за пару дней при необходимости.
      p
        b Современные способы коммуникации 
        | позволяют крайне быстро и эффективноподбирать производителя по всему Китаю, опираясь на техническое задание заказчика,а так-же предоставлять полноценные отчеты по контролю за всей цепочкой производства,проверкой качества товара, консолидации груза, упаковки и отправки, посредством фото и видео высокого разрешения, включая онлайн конференции по запросу.


    article.features-item
      h3.features-item__heading СКОРОСТЬ ДОСТАВКИ И КОММУНИКАЦИИ
      p
        b Доставка из Китая сегодня стала действительно быстрой, 
        | удобной и доступной за счет огромной конкуренции и упрощении законодательной базы между РФ и Китаем. Сегодня стало вполне реальноразместить заказ на фабрику и отправить готовую партию или образецв Москву за пару дней при необходимости.
      p
        b Современные способы коммуникации 
        | позволяют крайне быстро и эффективноподбирать производителя по всему Китаю, опираясь на техническое задание заказчика,а так-же предоставлять полноценные отчеты по контролю за всей цепочкой производства,проверкой качества товара, консолидации груза, упаковки и отправки, посредством фото и видео высокого разрешения, включая онлайн конференции по запросу.


    article.features-item
      h3.features-item__heading СКОРОСТЬ ДОСТАВКИ И КОММУНИКАЦИИ
      p
        b Доставка из Китая сегодня стала действительно быстрой, 
        | удобной и доступной за счет огромной конкуренции и упрощении законодательной базы между РФ и Китаем. Сегодня стало вполне реальноразместить заказ на фабрику и отправить готовую партию или образецв Москву за пару дней при необходимости.
      p
        b Современные способы коммуникации 
        | позволяют крайне быстро и эффективноподбирать производителя по всему Китаю, опираясь на техническое задание заказчика,а так-же предоставлять полноценные отчеты по контролю за всей цепочкой производства,проверкой качества товара, консолидации груза, упаковки и отправки, посредством фото и видео высокого разрешения, включая онлайн конференции по запросу.

  .btn__wrapper--consult
    a.button.btn.btn--yellow Проконсультироваться сейчас
    a.button.btn.btn--green Разместить заказ