footer.footer
  .footer__container
    .footer__top
      img.footer__logo(src="./dist/img/content/footer-logo.png", alt="logo")
      .footer__address
        .footer__address-icon
          | Moscow: 8-я ул. Соколиной Горы, 15 «А», стр.2.
          br
          | China:  广州市荔湾区站前路47.
      .footer__mail-phone
        .footer__phone-wrapper
          .footer__phone-icon 8-495-135-25-85
            br
            | Для звонков по РФ
        .footer__mail-wrapper
          .footer__mail-icon info@rockettochina.ru
      .footer__phone-wrapper
        .footer__phone-icon 8-495-135-25-85
          br
          | Для звонков по Китаю
    .footer__social
      .footer__social--line
      .footer__social__wrapper
        <i class="fab fa-facebook" aria-hidden="true"></i>
        <i class="fab fa-instagram" aria-hidden="true"></i>
        <i class="fab fa-facebook" aria-hidden="true"></i>
        <i class="fab fa-instagram" aria-hidden="true"></i>
        <i class="fab fa-facebook" aria-hidden="true"></i>
    .footer__bottom
      p.footer-copy © rocket-to-china 2020. Все права защищены.
      .footer__bottom--right
        a(href="javascript:void(0)") ВЕРСИЯ ДЛЯ ПЕЧАТИ &nbsp;
        a(href="jvascript:void(0)") &nbsp;ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ