block header
  header.header.header--consult
    .header__container
      .header__left
        nav.header-nav
          a(data-fancybox data-src="#openMenu" href="javascript:void(0)").burger
          a(href="./") О нас
          a(href="./consult.html") Консалтинг
          a(href="./miners.html") Майнинг
          a.parnter(href="")
            img(src="./dist/img/icons/sdek-w.png", alt="")
      .header__right
        .header-mail
          .header-mail__icon
          a(href="mailto:info@rockettochina.ru") info@rockettochina.ru
          a(data-fancybox data-src="#modalQuestion" href="javascript:void(0)").underline.opacity Задать вопрос
        .header-phone
          .header-phone__icon
          a(href="tel:+74956402968").phone +7 (495)
            span 640-29-68
          a(data-fancybox data-src="#modalOrder" href="javascript:void(0)").underline.opacity Горячая линия поддержки