section.logistic
  .logistic__container
    h2 ЛУЧШИЕ ЛОГИСТИЧЕСКИЕ РЕШЕНИЯ
    section
      article.solution
        .solution__heading
          | От
          b 1 кг
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/solution-1.png", alt="")
        a.solution__more(href="javascript:void(0)") Подробнее
        .solution__descr
          .solution__descr__dot
          p Да это стало возможно и для коммерческих отправок
        .solution__descr
          .solution__descr__dot
          p Как правило от 1 кг отправляються товарные образцы с фабрики, что бы убедиться в качестве проудукции перед основным заказом
      article.solution
        .solution__heading
          | От
          b 1 дня&nbsp;
          | до МСК
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/solution-2.png", alt="")
        a.solution__more(href="javascript:void(0)") Подробнее
        .solution__descr
          .solution__descr__dot
          p Да, с “Rocket to China” это реально!
        .solution__descr
          .solution__descr__dot
          p Это супер-экспресс доставка сроки 1-3 дня. Идеально подходит для тех кому время важнее цены.
      article.solution
        .solution__heading
          | От
          b 1$&nbsp;
          | за кг
        .solution__separator
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/solution-3.png", alt="")
        a.solution__more(href="javascript:void(0)") Подробнее
        .solution__descr
          .solution__descr__dot
          p Лучшая цена на рынке логистики Китая
        .solution__descr
          .solution__descr__dot
          p Как правило это Авто или Море
        .solution__descr
          .solution__descr__dot
          p Конечная цена сильно зависит от наименования товара, общий вес и плотность
    .button.btn.btn--yellow Получить бесплатный расчет