section.map
  img.map-logo(src="./dist/img/content/map-logo.png", alt="logo")
  h2 Быстрая доставка грузов из Китая 
    br
    | в 98 городов России и СНГ
  img.map__left(src="./dist/img/content/map-left.png", alt="")
  img.map__right(src="./dist/img/content/map-right.png", alt="")
  img.map__bg(src="./dist/img/content/map.jpg", alt="")
  img.map__items(src="./dist/img/content/map-dots.png", alt="")
  img.map__truck-shadow(src="./dist/img/content/mps.png", alt="")
  img.map__truck(src="./dist/img/content/map-truck.png", alt="")
  img.map__cargo(src="./dist/img/content/map-cargo.png", alt="")
  img.map__shadow(src="./dist/img/content/map-shadow.png", alt="")