section.logistic.consult.mining
  .logistic__container
    section.solution-section

      article.solution
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/min/m1.png", alt="")
        .solution__separator
        .solution__heading
          | В наличии и под заказ

      article.solution
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/min/m2.png", alt="")
        .solution__separator
        .solution__heading
          | Только проверенные поставщики

      article.solution
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/min/m3.png", alt="")
        .solution__separator
        .solution__heading
          | Еженедельные отгрузки, 2-3 раза/нед.

      article.solution
        .solution__img
          .solution__bg
          img.solution__pic(src="./dist/img/content/min/m4.png", alt="")
        .solution__separator
        .solution__heading
          | Безопасная доставка в РФ и СНГ "под ключ"

    .button.btn.btn--yellow Бесплатная консультация сейчас