section.faq.consult-faq.miners
  .faq__right
  h2 ТОП 5 ПОПУЛЯРНЫХ ВОПРОСОВ ОТ НАШИХ 
    br
    | НОВЫХ КЛИЕНТОВ
  .faq__container
    .faq--col-1
      img.faq__woman(src="./dist/img/content/min/man.png", alt="")
      img.faq__shadow(src="./dist/img/content/woman-shadow.png", alt="")

    .faq--col-2
      .accordeon
        .ac
          .ac_head Почему нельзя сразу указать все цены на майнеры?  
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Коллеги, дело в том что специфика этой отрасли такова, что цены могут меняться ежедневно, либо даже по несколько раз в день. Все зависит от того в каком состоянии сегодня находится рынок криптовалют и какие настроения им движут, бычьи или медвежьи. Если мы будем указывать цены, а потом сообщать вам другой прайс, отличающийся от указанных, навряд ли вам это понравится.
        .ac
          .ac_head Какие гарантии, почему я должен доверять вам, что вы не обманете? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Как происходит доставка в Россию? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Какие гарантии при доставке и вообще? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;
        .ac
          .ac_head Могу ли я заказать проверку каждого майнера перед отправкой? 
            .ac_head__dot
              span.plus +
              span.min -
          .answer
            p Мы намеренно не стали добавлять на сайт какую-то конкретную информацию по вознаграждению, так как каждый запрос чаще всего уникальный и требует различных энергозатрат и времени. Для ориентира стоит сказать - поиск какого-то конкретного не сложного товара с отбором поставщиков - от 150 - 250$; Заявка на производство по вашему ТЗ - это более трудоемкий процесс, с большей ответственностью - от 250 - 500$;