#modalQuestion
  form.modal-wrapper
    img.modal-wrapper__right(src="./dist/img/content/cargo.png", alt="")
    img.modal-wrapper__left(src="./dist/img/content/cargo.png", alt="")
    h2 Сообщите нам, какой заказ вы бы хотели разместить и мы непременно ответим вам!
    h3 Напишите нам и наши специалисты свяжуться с вами
    img.separator(src="./dist/img/icons/line.png", alt="")
    input(type="text" placeholder="Ваше имя")
    input(type="text" placeholder="Ваш телефон или Email")
    a.button.btn.btn--yellow Отправить


#modalOrder
  form.modal-wrapper
    img.modal-wrapper__right(src="./dist/img/content/cargo.png", alt="")
    img.modal-wrapper__left(src="./dist/img/content/cargo.png", alt="")
    img.modal-wrapper__gray(src="./dist/img/content/cargo.png", alt="")
    h2 Сообщите нам, какой заказ вы бы хотели разместить и мы непременно ответим вам!
    h3 Напишите нам и наши специалисты свяжуться с вами
    img.separator(src="./dist/img/icons/line.png", alt="")
    input(type="text" placeholder="Ваше имя")
    input(type="text" placeholder="Введите Email")
    input(type="text" placeholder="Введите телефон")
    textarea(name="", cols="30", rows="10")
    a.button.btn.btn--yellow Отправить
