section.shema
  .shema__container
    h2 СХЕМА РАБОТЫ С ROCKET to CHINA - 5 ОСНОВНЫХ ЭТАПОВ
      span (упрощенный, базовый вариант - описание основных этапов)
    section
      img.shema-path(src="./dist/img/content/consult/line.png", alt="")
      article.trust__item.trust__item--shema.s--1
        .trust__pic
          img(src="./dist/img/content/consult/s1.png")
        span.trust__num 1
        b Вы отправляете нам свой запрос на поиск поставщика в произвольной форме
        p Мы изучаем ваше задание, уточняем ряд деталей, они как правило присутствуют, отправляем вам простую и удобную форму для заполнения (при необходимости), что бы не упустить не одну важную деталь;
        p После мы согласовываем с вами минимальное вознаграждение, вы производите оплату любым удобным способом.
      article.trust__item.trust__item--shema.s--2
        .trust__pic
          img(src="./dist/img/content/consult/s2.png")
        span.trust__num 2
        b Мы изучаем ваше задание, уточняем ряд деталей,  отправляем вам удобную форму для заполнения что бы не упустить не одну важную деталь;
        p Все зависит от вашего товара или проекта, не редко бывает, когда мы сможем ответить вам предметно в этот же либо на следующий день.
      article.trust__item.trust__item--shema.s--3
        .trust__pic
          img(src="./dist/img/content/consult/s3.png")
        span.trust__num 3
        b Мы изучаем ваше задание, уточняем ряд деталей,  отправляем вам удобную форму для заполнения что бы не упустить не одну важную деталь;
        p Все зависит от вашего товара или проекта, не редко бывает, когда мы сможем ответить вам предметно в этот же либо на следующий день.
      article.trust__item.trust__item--shema.s--4
        .trust__pic
          img(src="./dist/img/content/consult/s4.png")
        span.trust__num 4
        b Развернутый ОТЧЁТ о проделанной работе
        p После расширенного поиска, тщательной подборки и ряда переговоров с поставщиками/фабриками по вашему товару/проекту мы отправляем вам подробный отчет, с обязательным указанием всех важных моментов, а именно:
        br
        p сроки и конечный прайс (с учетом торга);
        p образцы, просчет оптимального способа доставки;
        p наличие  необходимых лицензий, сертификатов, уставной капитал, и др., что бы свести риск сотрудничества с выбранным поставщиком к возможному минимуму.
      article.trust__item.trust__item--shema.s--5
        .trust__pic
          img(src="./dist/img/content/consult/s5.png")
        span.trust__num 5
        b Проверка, отгрузка и отправка
        p Фабрика сообщает об окончании производства и подготовке к отгрузке - мы немедленно уведомляем вас, повторно обсуждаем и утверждаем вариации проверки готовой продукции;
        p Далее мы с вами переводим 2-ю часть оплаты на фабрику и ждем поставку товара на один из наших складов в Китае для дальнейшей консолидации и отправки в ваш город;
        p Мы подбираем для вас оптимальный и наиболее выгодный способ доставки в Россию, утверждаем его, тщательно упаковываем  груз в соответствии с регламентом, страхуем на 100% стоимости и отправляем.
        p Вы получаете свой груз в Москве либо другом городе и оплачиваете доставку, растаможку и пр. услуги непосредственно при получении груза на месте.
      img.shema-woman(src="./dist/img/content/consult/woman.png", alt="")
      img.shema-shadow-woman(src="./dist/img/content/woman-shadow.png", alt="")

    .button.btn.btn--yellow Хочу уточнить