section.features.shop
  h2 ВЫБЕРИТЕ СВОЙ МАЙНЕР ИЛИ ОСТАВЬТЕ ЗАЯВКУ 
    br
    | НА НУЖНУЮ МОДЕЛЬ
    span Мы непременно свяжемся с рядом наших поставщиков и предоставим вам самую актуальную информацию
  section.shop-section
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner1.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner2.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner1.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner2.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner1.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner2.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner1.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас
    article.shop-item
      h3.shop-item__heading
        | AvalonMiner 1166 68 Th/s
      .solution__separator
      img.shop-item__img(src="./dist/img/content/min/miner2.png", alt="AvalonMiner 1166 68 Th/s")
      .button.btn.btn--yellow Узнать цену сейчас
      .button.btn.btn--transparent Узнать цену сейчас

  img.features__right(src="./dist/img/content/map-right.png")
  img.features__left(src="./dist/img/content/map-right.png")

  .button.btn.btn--green Больше