section.section-top.mining
  a.logo.logo--mining(href="#")
    img.logo-top(src="./dist/img/content/consult/f-logo.png", alt="")

  .top
    .top__container
      h1.tac.text--white ДОХОДНОЕ ОБОРУДОВАНИЕ ДЛЯ МАЙНИНГА 
        br
        | НАПРЯМУЮ С ЗАВОДОВ ИЗГОТОВИТЕЛЕЙ,  БЕЗ 
        br
        | ПОСРЕДНИКОВ ПО ЛУЧШИМ ЦЕНАМ НА РЫНКЕ