section.section-top.consult
  a.logo.logo--consult(href="#")
    img.logo-top(src="./dist/img/icons/logo.svg", alt="")
    p ROCKET
      span to
      |CHINA
    small Ваш Драйвер роста в бизнесе с Китаем!

  .top
    .top__container
      h1.tac.text--white ПОИСК И ПРОИЗВОДСТВО ВАШИХ ТОВАРОВ У 
        br
        | ПРОВЕРЕННЫХ ФАБРИК ПОД КЛЮЧ

    .section-arm
      h2.section-arm__heading 
    section.section-arm__descr
      article.text--white
        i.red-dot
        | Производство сувенирной 
        br
        | продукции
      article.text--white
        i.red-dot
        | Брендирование товаров
      article.text--white
        i.red-dot
        | Поиск готовых изделий и 
        br
        | мн. др.