section.section-top
  a.logo(href="#")
    img.logo-top(src="./dist/img/icons/logo.svg", alt="")
    p ROCKET
      span to
      |CHINA
    small Ваш Драйвер роста в бизнесе с Китаем!

  .top
    //.parallax__left
      img(src="./dist/img/content/top-left.png", alt="")
    //.parallax__right
      img(src="./dist/img/content/top-right.png", alt="")

    .top__container
      h1 Быстрая доставка грузов из Китая
        br
        | в 98 городов России и СНГ
        .heading-img
          img.top-map(src="./dist/img/content/top-el.png", alt="")
          img.top-map--plane.plane(src="./dist/img/content/top-plane.png", alt="")

    .section-arm
      h2.section-arm__heading А так-же ваша правая рука в Китае по вопросам:
    section.section-arm__descr
      article
        i.red-dot
        | Производства продукции под ключ 
        br
        | по вашим требованиям
      article
        i.red-dot
        | Поиск и провекра товаров 
        br
        | перед отправкой
      article
        i.red-dot
        | Сопровождение на фабрики,
        br
        | выставки, рынки и мн. др.