section.trust
  h2 ПОЧЕМУ СОТНИ КЛИЕНТОВ ЕЖЕДНЕВНО
    br
    | ДОВЕРЯЮТ НАМ СВОЙ ГРУЗ?
  .trust-left
  .trust-right
  section.trust__container
    article.trust__item.t--1
      .trust__pic
        img(src="./dist/img/content/c-1.png", alt="")
      p Безопасная и надежная
        br
        | упаковка
    article.trust__item.t--2
      .trust__pic
        img(src="./dist/img/content/c-2.png", alt="")
      p Товар полностью застрахован, на 100% его стоимости
    article.trust__item.t--3
      .trust__pic
        img(src="./dist/img/content/c-3.png", alt="")
      p Бесплатное хранение на наших складах в Китае и Москве
    article.trust__item.t--4
      .trust__pic
        img(src="./dist/img/content/c-4.png", alt="")
      p Бесплатная помощь высококвалифицированного переводчика (при необходимости)
    article.trust__item.t--5
      .trust__pic
        img(src="./dist/img/content/c-5.png", alt="")
      p Личный менеджер и дружественная поддержка (без выходных)
    article.trust__item.t--6
      .trust__pic
        img(src="./dist/img/content/c-6.png", alt="")
      p Предоставление полного пакета сопроводительных документов
    article.trust__item.t--7
      .trust__pic
        img(src="./dist/img/content/c-7.png", alt="")
      p Тщательная проверка вашего товара перед отправкой (по запросу)
    article.trust__item.t--8
      .trust__pic
        img(src="./dist/img/content/c-8.png", alt="")
      p Мы не берем деньги заранее - оплачивайте услуги только при получении товара
section.coop
  .semi.semi__left
    img.coop__img.coop__truck-shadow(src="./dist/img/content/t-shadow.png", alt="")
    img.coop__img.coop__truck(src="./dist/img/content/truck.png", alt="")
    img.coop__img.coop__man(src="./dist/img/content/man.png", alt="")

  .semi.semi--text
    h2 Давайте сотрудничать!
    .coop__subtitle Напишите нам или закажите звонок — мы поможем. Выслушаем ваши задачи для бизнеса, и на их основе предложим варианты развития.
    .button__row
      .button.btn.btn--yellow Задать вопрос
      .button.btn.btn--green Пройти ТЕСТ