section.news.miners
  h2 СЛЕДИТЕ ЗА ПОСЛЕДНИМИ ВАЖНЫМИ НОВОСТЯМИ 
    br
    | ИЗ МИРА МЙНИНГА, BLOCKHAIN and CRYPTOCURRENCIES
  .news--inner
    section.news__container
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее

  h2 наши партнеры
  .tac
    img.bitmain(src="./dist/img/content/min/bitmain.jpg", alt="bitmain")

  img(src="./dist/img/content/map-shadow.png", alt="").miners-end-shadow


  .miners-separator