section.work
  h2 ТРУДИМСЯ ДЛЯ ВАС С ДАЛЕКОГО 2011
  h4 а что по цифрам?
  .calendar-wrapper
    img.calendar(src="./dist/img/content/calendar.png", alt="")
  section.number
    article.number__item
      .number__title ~
        span.jsCounter 12518
      p Заказов было выполнено нами
        br
        | за все время работы.
    article.number__item
      .number__title.jsCounter 8355
      p тонн груза было отправлено
        br
        | в прошлом году
    article.number__item
      .number__title
        span.jsCounter 91
        | %
      p Клиентов совершают с нами 2-ю
        br
        | и последующие отправки
    article.number__item
      .number__title.jsCounter 29
      p человек нашей команды
        br
        | ежедневно трудятся для
        br
        | Вас в Китае и России.

section.news
  h2 Последние новости
  .news--inner
    section.news__container
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее
      article.news__item
        .news__pic-wrapper
          img.news__pic(src="./dist/img/content/n1.jpg", alt="")
        .news__date 10.11.2019
        .news__title заголовок события
        .news__descr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
        a(href="javscript:void(0)").news__more Подробнее
