.mining
  .top
    background url(../img/content/min/top.jpg) bottom center no-repeat
    background-size cover
    height 800px
    margin-bottom -350px
  h1
    width 1200px
    font-family $hBold
    font-size: 5rem
    letter-spacing: -1px
    margin 0 auto

.logo--mining
  position relative
  z-index 1
  width 256px
  height 176px
  top 85px
  .logo-top
    width 100%
    height auto