.work
  min-height 717px
  background url(../img/content/work-bg.jpg) center bottom no-repeat
  background-size cover
  padding-top 40px
  padding-bottom 50px
  h2
    color #26272d
    font-family $hLight
    font-size 4rem
    font-weight 300
    line-height 5.3rem
    letter-spacing 1.6px
    text-align center
  h4
    color #26272d
    font-family $hLight
    font-size 2rem
    font-weight 300
    line-height 5.3rem
    letter-spacing 0.8px
    text-transform uppercase
    letter-spacing 0.8px
    text-align center

.calendar-wrapper
  overflow hidden
  width 0
  transition 4s 1s all
  display block
  position relative
  left calc(50% - 661px)
  +media(1440px)
    left calc(50% - 525px)
  .work:hover &,
  .animated &
    width 1322px
    +media(1440px)
      width 1050px

.calendar
  width 1322px
  margin 0 auto
  +media(1440px)
    width 1050px

.number
  display flex
  justify-content space-between
  width 1166px
  margin 0 auto
  margin-top 85px
  +media(1440px)
    width 1050px
  &__title
    color #c82127
    font-family $hBlack
    font-size 5rem
    font-weight 400
    line-height 5.3rem
    margin-bottom 20px
    text-align center
  p
    text-align center

.news
  background-color #fefae1
  padding-top 35px
  margin-top 0
  padding-bottom 44px
  h2
    color #26272d
    font-family $hLight
    font-size 4rem
    font-weight 300
    line-height 5.3rem
    letter-spacing 1.6px
    text-align center

  &__container
    width 1136px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center
    +media(1440px)
      width 1050px

  &__item
    width 351px
    position relative
    transition: 1s 1s ease-in all
    opacity 0
    &:first-child
      transform: scale(0) translateX(200%)
    &:nth-child(2)
      transform: scale(0)
    &:nth-child(3)
      transform: scale(0) translateX(-200%)
    .animated &
      opacity 1
      transform: scale(1)
    +media(1440px)
      width 32%
    &:hover
      .news__pic
        transform: scale(1)
        filter: grayscale(0)

  &__pic
    transition: $middle
    filter: grayscale(.3)
    transform: scale(1.3)

  &__pic-wrapper
    width 351px
    height 263px
    overflow hidden
    +media(1440px)
      width 100%

  &__date
    position absolute
    right 0
    top 0
    width 84px
    height 28px
    background-color #ffda00
    color #76691e
    font-family $mainFont
    font-size 1.2rem
    font-weight 300
    line-height 2.4rem
    letter-spacing 0.24px
    display flex
    justify-content center
    align-items center

  &__title
    color #161515
    font-family $mainFont
    font-size 2rem
    font-weight 500
    text-transform uppercase
    letter-spacing 0.8px

  &__descr
    color #5a5a5a
    font-family $mainFont
    font-size 1.6rem
    font-weight 400
    line-height 2.4rem
    letter-spacing 0.32px
    padding 1.8rem 0 1.5rem

  &__more
    color #0d53a0
    font-family $mainFont
    font-size 1.4rem
    font-weight 300
    line-height 2.4rem
    text-decoration underline
    letter-spacing 0.28px