// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = 'Georgia', sans-serif;
$mainFont = 'Lato', $reserveFonts;
$hLight = 'helLight', $reserveFonts;
$hBlack = 'helBlack', $reserveFonts;
$hBold = 'helBold', $reserveFonts;
$hReg = 'helReg', $reserveFonts;

// Sizes
$widthContent = 1200px
$heightHeader = 92px
$heightFooter = 220px
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all